@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* General Styles */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family:'Poppins', sans-serif;
}

body
{
    min-height: 100vh;
    max-width: 100%;
    
    background-color: #FFFFFF;
   
    
}

a{
    text-decoration: none;
    color: #777777;
}

hr{
    background-color: #EDF0F4;
    height: 2px;
    border: none;
}

p
{
    font-family: 'Open Sans', sans-serif;
}

.wrapper
{
    overflow-x: hidden;
}

/* Navigation Styles */
#nav
{
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 90px;
    min-width: 100%;
    position: fixed;
    z-index: 3;
    
}

.nav-brand
{
    display: inline-block;
    float: left;
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    
    font-size: 1.5rem;
}


#menu
{
    position: relative;
    top: 20px;
    right: 20px;
}

ul a li
{
    
    display: inline;
    float: right;
    padding: 0 .6rem;
    color: white;
    
}

#mobile-btn
{
 
   color: white;
   background: none;
   border: 1px solid white;
   padding: .5rem 1rem;
   transition: transform 0.3s ease-in-out;
  
   

}

#mobile-btn.active
{

    transform: translateX(-90px);
}

.mobile-btn-container
{
    position: fixed;
   
    top: 20px;
    right: 20px;
    display: none;
    z-index: 3;
}

#side-nav
{
    background-color: #3f3e3e;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 3rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 2; 
    display: none;
}

#side-nav.active
{
    transform: translateX(0%);
}

#side-nav ul
{
    padding: 0;
    list-style-type: none;
    margin: 0;
}

#side-nav ul li 
{
    padding: 1rem 0;
}

#side-nav a
{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}




/*Main Header Styles*/

#header
{
    min-height:  700px;
    background: url('/img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header-content
{
    position: relative;
    top: 35%;
    text-align: center;
    font-size: 2rem;
    min-height:  500px;


}

.header-content h1{
    font-family: 'Permanent Marker', cursive;
    color:black;
    font-size: 5rem;
    border: 4px solid black;
    border-radius: 10px;
    width: 40%;
    margin: auto;
    background: #FFFFFF;
    
}

.header-content p{
    color: white;
    margin-top: 1rem;
    font-family: 'Permanent Marker', cursive;
    padding: 2rem;
}

.header-overlay
{
    background-color: rgb(0, 0, 0, 0.2);
    height: 700px;
}

#description
{
    height: 4vh;
}


.arrow-container
{
    position: relative;
    top: 15%;
    left: 48%;
    z-index: 0;
}

.arrow
{

  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: .6rem .8rem;



  
}




/*Footer Styles */

#footer
{
    background-color: black;
    color: white;
    height: 60px;
}

.footer-copyright
{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 12px;
    width: 150px;
}

.footer-links
{
    display: inline;
    padding: 0 .5rem;
    
}
.footer-links a:hover{
    color: white;
}



.footer-links-container
{
   float: right;
   margin-right: 2rem;
 

    
}

.up-arrow
{
    padding-left: 3rem;
}


/* intro styles */

#intro-section
{
    height: 100%;
    background-color: #7510F7;
}

.intro
{
    position: relative;
    padding: 12rem .2rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    min-width: 100%;
}

.intro-quote
{
    margin-top: 1rem;
    font-size: 1.2rem;
}

/* Skills Section Styles */

#skills-section
{
    max-width: 70%;
    min-height: 100%;
    margin: 0 auto;
    border: none;
    box-shadow: 0 1px 5px rgba(220, 225, 235 , 0.2), 0 6px 30px rgba(220, 225, 235 , 0.2);
    border-radius: .6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    top: -90px;
    background-color: #FFFFFF;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    background-color: #FFFFFF;
    color: black;
    text-align: center;

}

.skill-category
{
    padding: 3rem 1rem;
  
    width: 100%;
    height: 100%;
}

.add-right-border
{
    border-right: 1px solid #dce1eb;
}
.skills-descriptor
{
    color: #7510F7;
}

  

/* Project Section Styles */

#project-section
{
    max-width: 70%;
    min-height: 100%;
    margin: 0 auto;
    border: none;
    box-shadow: 0 1px 5px rgba(220, 225, 235 , 0.2), 0 6px 30px rgba(220, 225, 235 , 0.2);

    border-radius: .6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    top: -35px;
    background-color: #FFFFFF;
    padding: 3rem;
    z-index: 2;

}

.project
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
    margin: 0 auto;
}

.project-title
{
    text-align: center;
    padding: 2rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: #7510F7;
}

.project-description
{
    padding: 1rem;
}

.project-img-wrapper
{
    margin: 0 auto;
}

.project-img
{
    padding: 1rem;
    border-radius: 2rem;
    width: 500px;
    height: 400px;
  
}
.project-button
{
    background: #7510F7;
    color:  #FFFFFF;
    padding: 1rem 2rem;
    border: none;
    border-radius: 6px;
}

.project-button:hover
{
    background:  #FFFFFF;
    color:  #7510F7;
    
    border: 1px solid  #7510F7;
   
}

/* About/Contact styles */
#about-section
{
    min-height: 100%;
    position: relative;
   
    
}

.about-wrapper
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
    height: 600px;
}

.about-button
{
    background: #FFFFFF;
    color: #7510F7;
    padding: 2rem;
    
}

.about-content
{
    position:relative;
    top: 40%;
}

.contact-button
{
    background: #7510F7;
    color: white;
    padding: 2rem;
}

.contact-content
{
    position:relative;
    top: 40%;
}













/* Media Queries */




@media only screen and (max-width: 1582px)
{
    .header-content h1
    {
        width: 45%;
        
    }
}

@media only screen and (max-width: 1393px)
{
    .header-content h1
    {
        width: 50%;
        
    }
    #project-section
    {
        max-width: 85%;
    }
    #skills-section
    {
        max-width: 85%;
    }
}

@media only screen and (max-width: 1238px)
{
    .header-content h1
    {
        width: 55%;
        
    }
}


@media only screen and (max-width: 1187px)
{
    .header-content h1
    {
        width: 60%;
        
    }
    #project-section
    {
        max-width: 90%;
    }
    #skills-section
    {
        max-width: 90%;
    }
}
@media only screen and (max-width: 1138px)
{
    .header-content h1
    {
        width: 60%;
        
    }
}

@media only screen and (max-width: 1077px)
{
    .header-content h1
    {
        width: 60%;
        
    }
    #project-section
    {
        max-width: 95%;
    }
    #skills-section
    {
        max-width: 95%;
    }
}

@media only screen and (max-width: 1043px)
{
    .header-content h1
    {
        width: 60%;
        
    }
    #project-section
    {
        max-width: 95%;
    }
    #skills-section
    {
        max-width: 95%;
    }
    .intro-origin
    {
        font-size: 1.8rem;
    }
}


@media only screen and (max-width: 1038px)
{
    .header-content h1
    {
        width: 65%;
        
    }
    .project
    {
        grid-template-columns: 1fr;
    }
    #skills-section
    {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 937px)
{
    .intro-origin
    {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 953px)
{
    .header-content h1
    {
        width: 75%;
        
    }
}

@media only screen and (max-width: 853px)
{
    .header-content h1
    {
        width: 85%;
        
    }
}

@media only screen and (max-width: 753px)
{
    .header-content h1
    {
        width: 80%;
        font-size: 3rem;

    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #menu
    {
        display: none;
    }
    .mobile-btn-container
    {
        display: inline-block;
    }
    #side-nav
    {
        display: block;
    }
    .header-content h1{
        width: 90%;
        font-size: 3rem;
    }
    #description
    {
        font-size: 1.6rem;
    }


    #project-section
    {
        max-width: 100%;
        
    }
  
    .project
    {
        display: grid;
        grid-template-columns: 1fr;
      
    }
   
    .project-img
    {
        width: 100%;
        height: 80%;
    }

    #skills-section
    {
        max-width: 100%;
        grid-template-columns: 1fr;
    }
    .intro-origin{
        padding: 2rem;
    }
    


}