@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper
{
    overflow-x: hidden;
}
#success-section
{
    min-height: 100%;
    background-color:  #7510F7;
    color: white;
    
}

.success-content
{
    position: relative;
    text-align: center;
    padding-top: 20rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100vh;
}

.success-header
{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

.success-description
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.success-button
{
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 6px;
    padding: 1rem 2rem;
}

.success-button:hover
{
    background: white;
    border: none;
    color: #7510F7;
    border-radius: 6px;
    padding: 1rem 2rem;
}

.success-icon
{
    font-size: 5rem !important;
}